.verd { background-color: black !important;  }
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color:#141414 !important ;}
#banner .content .image img {
    border-radius: 100%;
    display: block;
    width: 100%;
    height: 100%;
}
html, body {
    background: #141414;
}